.header-container {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 24px;
}

.header-left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

.header-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  column-gap: 16px;
}

.header-divider {
  height: 32px;
  width: 1px;
  background-color: var(--light-grey);
}

.theme-container {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

@media (min-width: 768px) {
  .header-container {
    padding: 60px 40px;
  }
}

@media (min-width: 1440px) {
  .header-container {
    padding: 60px 350px 40px 350px;
  }
}
