@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,600&display=swap");

:root {
  --text-color: #2d2d2d;
  --bg-color: #fff;
  --red: #ff5252;
  --purple: #a445ed;
  --black: #050505;
  --secondary-color: #f4f4f4;
  --very-dark-grey: #1f1f1f;
  --dark-grey: #3a3a3a;
  --grey: #757575;
  --light-grey: #e9e9e9;
  --almost-white: #f4f4f4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  appearance: none;
  outline: none;
  background-color: transparent;
}

[data-theme="dark"] {
  --text-color: #fff;
  --bg-color: #050505;
  --secondary-color: #1f1f1f;
}

[data-font="sans-serif"] {
  --font: "Inter", sans-serif;
  font-family: "Inter", sans-serif;
}

[data-font="serif"] {
  --font: "Lora", serif;
  font-family: "Lora", serif;
}

[data-font="mono"] {
  --font: "Inconsolata", monospace;
  font-family: "Inconsolata", monospace;
}

h1 {
  font-family: var(--font);
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.813rem;
  color: var(--text-color);
}

h2 {
  font-family: var(--font);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.813rem;
  color: var(--text-color);
}

h3 {
  font-family: var(--font);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: var(--text-color);
}

.body-m {
  font-family: var(--font);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--text-color);
}

.body-s {
  font-family: var(--font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.063rem;
  color: var(--text-color);
  text-decoration-line: underline;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    line-height: 1.1;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.813rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .body-m {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .body-s {
    font-size: 0.875rem;
    line-height: 1.1;
  }
}
