/* Reset element */
select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  background-color: transparent;
  outline: none;
  background: url("/public/images/icon-arrow-down.svg") no-repeat right
    var(--purple);
}

select::-ms-expand {
  display: none;
}

/* Custom select */

.select {
  display: grid;
  width: 12ch;
  border: none;
  padding: 0.25em 0.5em;
  cursor: pointer;
  font-family: var(--font);
  font-size: 1rem;
  background-color: transparent;
  align-items: center;
}

option {
  font-family: var(--font);
}
